body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif, serif;
  font-size: 20px;
  background-image: url('download.jpg');
  background-size: cover;
}

.container {
  position: relative;
}

.letter {
  width: 500px;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  position: relative;
}

.content {
  max-height: 20px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}

.letter.open .content {
  max-height: none;
  opacity: 1;
}

.heart {
  font-size: 40px;
  cursor: pointer;
  margin-top: 10px;
  animation: beat 1.5s infinite;
}

@keyframes beat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.typing {
  white-space: pre-line;
}

.top-right-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px 40px;
  background-color: pink;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
  font-style: italic;
}

.top-right-btn:hover {
  background-color: #ee13e3;
}

.music-player {
  position: fixed;
  top: 4%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1000;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #eb4389;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #812a42;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

